<%= link_to @forum.title, resource(@forum) %>

<%= link_to "edit", resource(@forum, @discussion, :edit) %>

<h1><%= @discussion.title %></h1>

<%= @discussion.body_html %>

<h2>Comments</h2>
<%= link_to "comment", resource(@forum, @discussion, :comments, :new) %>
<% if @comments.any? %>
<ul>
<% @comments.each do |c| %>
  <li><%= c.body_html %></li>
<% end %>
</ul>
<% end %>
